<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a href="#" class=""><i class="lnr lnr-chart-bars"></i> <span>Thống kê</span></a></li>
        <li><a href="#" class=""><i class="lnr lnr-leaf"></i> <span>Sản phẩm</span></a></li>
        <li><a href="<%= sails.getUrlFor('admin/BlogController.showPage') %>" class=""><i class="lnr lnr-pencil"></i> <span>Bài viết</span></a></li>
        <li><a href="<%= sails.getUrlFor('admin/ContactController.showPage') %>" class=""><i class="lnr lnr-envelope"></i> <span>Liên hệ</span></a></li>
        <li><a href="#" class=""><i class="lnr lnr-users"></i> <span>Người dùng</span></a></li>
        <li><a href="#" class=""><i class="lnr lnr-phone"></i> <span>Thanh Toan</span></a></li>
        <li><a href="<%= sails.getUrlFor('admin/IntroduceController.view') %>" class=""><i class="lnr lnr-license"></i> <span>Giới thiệu</span></a></li>
        <li><a href="#" class=""><i class="lnr lnr-cog"></i> <span>Cài đặt</span></a></li>      
      </ul>
    </nav>
  </div>
</div>
