<footer class="footer-style-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12"><h3>Thông tin của chúng tôi</h3><a href="/"><img
        src="/admin/img/logoTanHang.png" alt="img"></a>
        <div class="mt-20"><p>Chè Tân Cương Thái Nguyên Ngon, Sạch, Chính Gốc </p></div>
        <ul class="footer-style-1-social-links">
          <li><a href="https://www.facebook.com/pg/tanhangtra/"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-skype"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-12"><h3>Tìm kiếm với Google</h3>
        <ul class="footer-style-1-latest-news">
            <li><a target="_brank" href="https://www.google.com.vn/search?ei=ZODoW8aUMZn1wAPuo5DoCQ&q=site%3Afacebook.com+tr%C3%A0+t%C3%A2n+h%E1%BA%B1ng&oq=site%3Afacebook.com+tr%C3%A0+t%C3%A2n+h%E1%BA%B1ng&gs_l=psy-ab.3...11207.13103.0.13558.27.14.5.0.0.0.178.1397.10j4.14.0....0...1c.1.64.psy-ab..9.0.0....0.KVM9GUH4FG0">#Trà Tân Hằng</a></li>
            <li><a target="_brank" href="https://www.google.com.vn/search?ei=ZODoW8aUMZn1wAPuo5DoCQ&q=site%3Afacebook.com+tr%C3%A0+t%C3%A2n+h%E1%BA%B1ng&oq=site%3Afacebook.com+tr%C3%A0+t%C3%A2n+h%E1%BA%B1ng&gs_l=psy-ab.3...11207.13103.0.13558.27.14.5.0.0.0.178.1397.10j4.14.0....0...1c.1.64.psy-ab..9.0.0....0.KVM9GUH4FG0">#Trà Tân Cương</a></li>
            <li><a target="_brank" href="https://www.google.com.vn/search?ei=ZODoW8aUMZn1wAPuo5DoCQ&q=site%3Afacebook.com+tr%C3%A0+t%C3%A2n+h%E1%BA%B1ng&oq=site%3Afacebook.com+tr%C3%A0+t%C3%A2n+h%E1%BA%B1ng&gs_l=psy-ab.3...11207.13103.0.13558.27.14.5.0.0.0.178.1397.10j4.14.0....0...1c.1.64.psy-ab..9.0.0....0.KVM9GUH4FG0">#Trà Thái Nguyên</a></li>
            <li><a target="_brank" href="https://www.google.com.vn/search?ei=ZODoW8aUMZn1wAPuo5DoCQ&q=site%3Afacebook.com+tr%C3%A0+t%C3%A2n+h%E1%BA%B1ng&oq=site%3Afacebook.com+tr%C3%A0+t%C3%A2n+h%E1%BA%B1ng&gs_l=psy-ab.3...11207.13103.0.13558.27.14.5.0.0.0.178.1397.10j4.14.0....0...1c.1.64.psy-ab..9.0.0....0.KVM9GUH4FG0">#Chè Tân Hằng</a></li>
            <li><a target="_brank" href="https://www.google.com.vn/search?ei=ZODoW8aUMZn1wAPuo5DoCQ&q=site%3Afacebook.com+tr%C3%A0+t%C3%A2n+h%E1%BA%B1ng&oq=site%3Afacebook.com+tr%C3%A0+t%C3%A2n+h%E1%BA%B1ng&gs_l=psy-ab.3...11207.13103.0.13558.27.14.5.0.0.0.178.1397.10j4.14.0....0...1c.1.64.psy-ab..9.0.0....0.KVM9GUH4FG0">#Chè Tân Cương</a></li>
          </ul>
      </div>


      <div class="col-md-3 col-sm-6 col-12"><h3>Thông tin liên lạc</h3>
        <ul class="footer-style-1-contact-info">
          <li><i class="fa fa-phone"></i> <span>+84.166.5633.866</span></li>
          <li><i class="fa fa-envelope-open"></i> <span>contact@tratanhang.com</span></li>
          <li><i class="fa fa-map-marker-alt"></i> <span> Phúc Trìu, Thành phố Thái Nguyên, Thái Nguyên</span></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-12"><h3>Các mục nhanh</h3>
        <ul class="footer-style-1-links">
          <li><a href="/">Sản phẩm</a></li>
          <li><a href="<%= sails.getUrlFor('home/BlogController.show') %>">Bài viết</a></li>
          <li><a href="<%= sails.getUrlFor('home/HomeController.about') %>">Giới thiệu</a></li>
          <li><a href="#">Giỏ hàng</a></li>
          <li><a href="<%= sails.getUrlFor('home/HomeController.contact') %>">Liên hệ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-style-1-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-12"><h5>Trà tân hàng © 2018. Chè Tân Cương Thái Nguyên Ngon, Sạch, Chính Gốc.</h5></div>
        <div class="col-md-6 col-sm-6 col-12">
          <ul class="footer-style-1-bar-links">
            <li><a href="#">Sản phẩm</a></li>
            <li><a href="#">Giỏ hàng</a></li>
            <li><a href="<%= sails.getUrlFor('home/HomeController.contact') %>">Liên lạc</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

