<div id="top-bar" class="hidden-md-down">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-12">
        <ul class="top-bar-info">
          <li><i class="fas fa-map-marker-alt"></i> Phúc Trìu, Thành phố Thái Nguyên, Thái Nguyên</li>
          <li><i class="fas fa-phone-square"></i>+84.166.5633.866 </li>
          <li><i class="fa fa-envelope"></i>contact@tratanhang.com</li>
        </ul>
      </div>
      <div class="col-md-3 col-12">
        <ul class="social-icons hidden-sm">
          <li><a href="https://www.facebook.com/pg/tanhangtra/" target="_brank"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-skype"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

